body{
    background-color: #180161;
    margin: 0;
}
nav{
    background-color: #4F1787;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
h1{
    color: #EB3678;
    font-family: "Archivo Black", sans-serif;
    font-size: 60px;
    margin-left: 40px;
}
img{
    opacity: 0.2;
}
h2{
    font-size: 70px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EB3678;
}
h3{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 120px;
    left: 120px;
    color: #FB773C;
    font-size: 60px;
}
.alba{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 200px;
    left: 120px;
    color: #FB773C;
    font-size: 40px;
}
.medajlonek{
    position: absolute;
    text-align: center;
    bottom: 60px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    margin-left: 120px;
    margin-right: 120px;
    color: #FB773C;
}
.container{
    position: relative;
    
}
iframe{
    position: absolute;
    top: 300px;
    right: 120px;
}
.rok{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 500px;
    left: 120px;
    color: #FB773C;
    font-size: 40px;
}
.clenove{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 200px;
    left: 700px;
    align-items: center;
    color: #FB773C;
    font-size: 40px;
}
.pisnicky{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600px;
    color: #FB773C;
    font-size: 40px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    
}
h4{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    color: #FB773C;
    font-size: 60px;
    margin-left: 120px;
}
li a {
    list-style-type: none;
    color: #FB773C;
    font-family: "Archivo Black", sans-serif;
    font-size: 60px;
    margin-left: 40px;
    text-decoration: none;
  }
  li a:hover {
    color: white;
}
.navigace{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}